body
{
    margin: 0;
    width: 100%;
    background-color:white;
    /* background-image: url(b2.jpg); */
    /* background-size: cover; */
}
/* .box
{
    background: white;
    width:auto;
    height:350px;
    margin-top: 0;
    position: relative;
    animation-name:myanimation;
    animation-duration:1000s;
}
.box p
{
    text-align: center;
    padding: 145px;
}
@keyframes myanimation
{
    0% {background-color:black; color: white;}
    25% {background-color:red}
    50% {background-color:rgb(120, 78, 0);}
    75% {background-color:hsl(257, 40%, 49%);}
    100% {background-color: white;}
} */

.content1
{
    display: flex;
    align-items: center;
    justify-content:center;
   
}
.content1 h1
{
    color:black;
    padding: 20px;
    font-size: 35px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
header h1 img
{
    width: 50px;
    height: 35px;
}

.buttons
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 35px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}

.buttons button
{
    background-color: white;
    width: 170px;
    height: 50px;
    padding:10px;
    border-color: white;
    color: black;
    font-size: 18px;
    border-radius: 25px;
    margin: 10px;
    transition: all 4s;
    border: 4px solid black;
}
.buttons button:hover
{
    background-color: black;
    border-color: black;
    color:white;
}
.images
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.images img
{
    width: 215px;
    height: 190px;
    margin: 100px;
    /* object-fit: cover; */
    /* transition: all 3s; */
}
.images div
{
    border: 2px solid black;
}

/* .images img:hover
{
    transform:scale(1.3);
} */
.images div section
{
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    height: 25px;
    margin: 10px;
}
.images div p
{
    text-align: center;
    padding: 3px;
}
@media only screen and (max-width:700px){

    .content1
{
    display: flex;
    align-items: center;
    justify-content:center;
   
}
.content1 h1
{
    color:black;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
header h1 img
{
    width: 25px;
    height: 17px;
}

.buttons
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 35px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}

.buttons button
{
    background-color: white;
    width: 115px;
    height: 50px;
    padding:4px;
    border-color: white;
    color: black;
    font-size: 10`px;
    border-radius: 14px;
    margin: 4px;
    transition: all 4s;
    border: 4px solid black;
}

.images
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.images img
{
    width: 102px;
    height: 90px;
    margin: 45px;
    /* object-fit: cover; */
    /* transition: all 3s; */
}
.images div
{
    border: 2px solid black;
}

/* .images img:hover
{
    transform:scale(1.3);
} */
.images div section
{
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    height: 20px;
    margin: 7px;
}
.images div p
{
    text-align: center;
    padding: 2px;
}
}